<div class="row">
  <h1>
    Tryna Curate?
  </h1>
</div>
<div class="row login-links">
    <a href="/auth/twitter/">
      <i class="fa fa-twitter"></i>
    </a> 
    <a href= "/auth/vimeo/">
      <i class="fa fa-vimeo-square"></i>
    </a>
</div>
