<div class="row">
  <h1>
    Tryna Curate?
  </h1>
</div>
<div class="row login-links">
  <div class="col-sm-6 col-md-6 login-link-left">
    <a href="/auth/twitter/">
      <i class="fa fa-twitter"></i>
    </a> 
  </div>
  <div class="col-sm-6 col-md-6 login-link-right">
    <a href= "/auth/vimeo/">
      <i class="fa fa-vimeo-square"></i>
    </a>
  </div>
</div>
