<div class="row">
  <h1>
    Tryna Curate?
  </h1>
  <a href="/auth/twitter/" class="login-link">
    <i class="fa fa-twitter"></i>
  </a> 
  <a href= "/auth/vimeo/" class="login-link">
    <i class="fa fa-vimeo-square"></i>
  </a>
</div>
