<div class="row">
  <div class="jumbotron">
  <h1>
    Welcome to CurateTV
  </h1>
  </div>
</div>
<h3>
  Login with Twitter or Vimeo to get started.
</h3>
<div class="row login-links">
    <a href="/auth/twitter/">
      <i class="fa fa-twitter"></i>
    </a>
    <a href= "/auth/vimeo/">
      <i class="fa fa-vimeo-square"></i>
    </a>
</div>
