<% if !@creators.nil? %>
<div class="row">
  <div class="jumbotron">
    <h1>Creators You Follow</h1>
  </div>
</div>
  <% @creators.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |creator| %>
        <div class="col-sm-4 col-md-4 creator-col">
          <% if !creator.profile_pic.nil? %>
            <%= image_tag(creator.profile_pic, class: "creator-image") %>
          <% end %>
          <h4 class="creator-name">
            <%= creator.name %>
          </h4>
          <% if creator.provider == "twitter" %>
            <%= button_to "Unfollow", {controller: "creators",
                                  action: "unfollow",
                                  name: creator.name,
                                  provider: creator.provider,
                                  uid: creator.uid},
                                  class: "btn btn-default" %>
          <% elsif creator.provider == "vimeo" %>
            <%= button_to "Unfollow", {controller: "creators",
                                     action: "unfollow",
                                     uid: creator.uid,
                                     provider: creator.provider},
                                     class: "btn btn-default" %>
          <% end %>
        </div>
    <% end %>
    </div>
  <% end %>
<% end %>
