@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

$light-grey: #707070;
$med-grey: #454545;


body {
  font-family: 'Cardo', serif;
  text-align: center;
  color: $med-grey;
}

.flash {
  font-family: 'Cardo', serif;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  font-family: 'Oswald', serif;
  color: $med-grey;
}

.navbar-default {
  background-color: #76CCAF;
  margin-top: 7px;
}

.navbar-right {
  margin-right: 30px;
  margin-top: 7px;
}

.navbar-left {
  margin-left: 20px;
  margin-top: 12px;
}

.navbar-links {
  font-size: 18px;
}

.search-button {
 margin-left: 4px;
}

.follow-btn {
  font-family: 'Oswald', serif;
  background-color: #FFFFFF;
  border: 1px $med-grey solid;
  margin-top: 8px;
}

.creator_name {
  margin-top: 5px;
}

.creator-image {
  height: 75px;
}

.creator-col {
  height: 200px;
}

a {
  color: $med-grey;
}

a:hover {
  color: $light-grey;
  text-decoration: none;
}